// Less codes for both Dashboard and NodeDetail page.
.xc-body-main-wrapper {
    max-width: 100%;
    background-color: #ffffff;

    .xc-community-designated {
        display: flex;
        line-height: 50px;
        flex-direction: column;

        .xc-community-designated-search {
            display: flex;

            .xc-community-designated-input {
                height: 30px;
                margin-top: 10px;
            }
        }


    }

    .xc-dashboard-top-select {
        min-height: 40px;
        height: auto;
        width: 100%;

        .xc-province-body-wrapper {
            .xc-province-cities {
                display: flex;

                .xc-province-item-city {
                    padding: 0px 0px 0px 2px;
                    background: #ddd;
                }
            }
        }
    }
}