// Less codes for both Dashboard and NodeDetail page.
.xc-dashboard-wrapper {
    max-width: 100%;
    .xc-table-operation-wrapper {
        .xc-operation-text {
            display: inline-block;
            padding-right: 10px;
            height: 30px;
            line-height: 30px;
            color: @title;
        }
        .xc-operation-info-box {
            float: right;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            .xc-operation-info-item {
                height: 30px;
                &:nth-child(1) {
                    margin-right: 30px;
                }
                .xc-operation-info-item-value {
                    height: @bigFont;
                    line-height: @bigFont;
                    font-size: @bigFont;
                    color: @title;
                    &.light-green {
                        color: @light-green;
                    }
                    &.orange {
                        color: @orange;
                    }
                }
                .xc-operation-info-item-label {
                    margin-top: 3px;
                    height: @smallFont;
                    line-height: @smallFont;
                    font-size: @smallFont;
                    color: @text;
                }
            }
        }
    }
    .xc-dashboard-row {
        display: flex;
        flex-direction: row; // The total min-width of the two section of dashboard's
        // first row is 1120px(includes 10 margin-left).
        min-width: 1120px; // max-width: 100%;
        // common
        .xc-cluster-information-wrapper,
        .xc-cluster-capacity-wrapper,
        .xc-target-ranking-wrapper,
        .xc-statistics-chart-wrapper,
        .xc-physical-node-wrapper {
            background-color: @white;
            .xc-box-shadow();
            &>header {
                padding: 9px 15px;
                font-size: @normalFont;
                color: @title;
                border-bottom: 1px solid @light-border;
                i {
                    margin-right: 12px;
                }
                .xc-header-button-box {
                    float: right;
                }
            }
        }
        .xc-cluster-information-wrapper {
            height: 250px;
            min-width: 480px;
            max-width: 640px;
        }
        .xc-cluster-capacity-wrapper {
            min-width: 540px;
            max-width: 640px;
        }
        .xc-cluster-information-wrapper,
        .xc-cluster-capacity-wrapper {
            flex: 1;
            .xc-cluster-information-content {
                padding: 25px 10px 25px 40px;
            }
            .xc-cluster-capacity-content {
                padding: 41.5px 30px;
            }
            .xc-cluster-information-content,
            .xc-cluster-capacity-content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .xc-cluster-machine-image-wrapper {
                    width: 130px;
                    height: 160px;
                    text-align: center;
                    img {
                        width: 105px;
                        height: 160px;
                    }
                }
                .xc-cluster-basic-information-wrapper,
                .xc-cluster-storage-wrapper {
                    .xc-cluster-info-item {
                        margin-top: 33px;
                        padding: 5px 0;
                        width: 150px;
                        line-height: @normalFont + 1;
                        color: @text;
                        &:nth-child(1) {
                            margin-top: 15px;
                        }
                        &.need-icon {
                            position: relative;
                            padding-left: 20px;
                            width: 174px;
                            &:before {
                                content: ' ';
                                position: absolute;
                                top: 7px;
                                left: 0;
                                display: block;
                                width: 12px;
                                height: 12px;
                            }
                            &.total {
                                &:before {
                                    background: @blue;
                                }
                            }
                            &.used {
                                &:before {
                                    background: @orange;
                                }
                            }
                            &.free {
                                &:before {
                                    background: @light-green;
                                }
                            }
                        }
                        .xc-cluster-info-label {
                            display: inline-block;
                            width: 80px;
                            &.narrower {
                                width: 70px;
                            }
                        }
                        .xc-cluster-info-value {
                            .xc-normal-node-value {
                                color: @green;
                            }
                            .xc-error-node-value {
                                color: @red;
                            }
                        }
                    }
                }
                .xc-cluster-basic-information-wrapper {
                    &:nth-child(2) {
                        margin-left: 65px;
                    }
                    margin-left: 15px;
                }
                .xc-cluster-storage-wrapper {
                    margin-left: 50px;
                }
                .xc-cluster-chart-wrapper {
                    width: 174px;
                    height: 174px;
                    .xc-chart-bottom-title {
                        padding: 8px 0;
                        font-size: @smallFont;
                        line-height: @smallFont;
                        color: @text;
                        text-align: center;
                    }
                }
            }
        }
        .xc-cluster-node-and-disk-wrapper {
            flex: 1;
            margin-left: 10px;
            min-width: 630px;
            .xc-node-and-disk-management-wrapper {
                padding: 33px 0;
                display: flex;
                flex-direction: row;
                height: 120px;
                background-color: @white;
                .xc-box-shadow();
                &:nth-child(2) {
                    margin-top: 10px;
                }
                .xc-node-and-disk-item {
                    flex: 1;
                    min-width: 150px;
                    &:nth-child(1) {
                        margin-left: 50px;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        position: relative;
                        &:after {
                            content: " ";
                            position: absolute;
                            top: 2px;
                            right: 57px;
                            width: 1px;
                            height: 50px;
                            background-color: #cecece;
                        }
                    }
                    display: flex;
                    flex-direction: row;
                    .xc-node-and-disk-item-img {
                        margin-right: 20px;
                        width: 54px;
                        height: 54px;
                        background-size: 100% 100%;
                    }
                    .xc-node-and-disk-item-status-content {
                        .xc-node-and-disk-item-content-status-text {
                            font-size: @largeFont;
                            font-weight: bold;
                            color: @title;
                            &.normal {
                                color: @green;
                            }
                            &.abnormal {
                                color: @red;
                            }
                        }
                        .xc-node-and-disk-item-content-status-type {
                            font-size: @smallFont;
                        }
                    }
                }
            }
        }
        .xc-cluster-capacity-wrapper {
            margin-top: 10px;
            height: 295px;
        }
        .xc-target-ranking-wrapper {
            flex: 1;
            margin-top: 10px;
            margin-left: 10px;
            min-width: 325px;
            height: 295px;
        }
        .xc-target-ranking-wrapper,
        .xc-physical-node-wrapper {
            .xc-view-all {
                float: right;
                margin-top: 5px;
                font-size: @smallFont;
                color: @light-text;
                cursor: pointer;
                &:hover {
                    color: @blue;
                }
            }
        }
        .xc-statistics-chart-wrapper {
            flex: 1;
            margin-top: 10px;
            min-width: 300px;
            &:nth-child(2),
            &:nth-child(3) {
                margin-left: 10px;
            }
            .xc-statistics-chart-content-wrapper {
                padding: 15px 0; // 40px is the height of head title
                height: ~"calc(100% - 40px)";
            }
        }
        .xc-physical-node-wrapper {
            flex: 1;
            margin-top: 10px;
            min-width: 1148px;
            min-height: 220px;
            .xc-physical-node-capacity {
                display: inline-block;
                vertical-align: middle;
            }
        }
        &.adaptive-height {
            .xc-statistics-chart-wrapper {
                // The height value is determined by the sum value of height and margin of
                // all the components layout above the statistics chart row.
                height: ~"calc(100vh - 640px)";
                min-height: 240px;
            }
        }
        @media screen and (max-width: 1700px) {
            .xc-cluster-node-and-disk-wrapper {
                .xc-node-and-disk-management-wrapper {
                    .xc-node-and-disk-item {
                        &:nth-child(2),
                        &:nth-child(3) {
                            position: relative;
                            &:after {
                                right: 27px;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1650px) {
            .xc-cluster-information-wrapper {
                .xc-cluster-information-content {
                    padding-left: 20px;
                    .xc-cluster-basic-information-wrapper {
                        &:nth-child(2) {
                            margin-left: 25px;
                        }
                    }
                }
            }
            .xc-cluster-node-and-disk-wrapper {
                .xc-node-and-disk-management-wrapper {
                    .xc-node-and-disk-item {
                        &:nth-child(1) {
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1580px) {
            .xc-cluster-node-and-disk-wrapper {
                .xc-node-and-disk-management-wrapper {
                    .xc-node-and-disk-item {
                        .xc-node-and-disk-item-img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.xc-node-detail-wrapper {
        .xc-table-operation-wrapper {
            // The min-width of node-detail's second row is 1148px.
            min-width: 1148px;
        }
        .xc-dashboard-row {
            min-width: 1148px;
        }
    }
}