.xc-histogram-dash {
    div {
        display: flex;
        justify-content: space-around;
    }
}

.xc-echart-split {
    width: 98%;
    min-width: 400px;
    width: calc(100% - 1em);
    height: 300px;
    display: flex;

    div {
        width: calc(100% / 2);
    }
}